<?xml version="1.0" encoding="utf-8"?>

<Project>

  <PropertyGroup>

    <!-- Kiểu xuất bản -->
    <PublishProtocol>FileSystem</PublishProtocol>
    <_TargetId>Folder</_TargetId>

    <!-- Bản phát hành -->
    <Configuration>Release</Configuration>
    <TargetFramework>net8.0-windows</TargetFramework>

    <!-- Ứng dụng 32-bit -->
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>

    <!-- Máy chạy phải có .NET 8 Desktop Runtime x86 -->
    <SelfContained>false</SelfContained>
    <PublishSelfContained>false</PublishSelfContained>

    <!-- Tạo một file EXE -->
    <PublishSingleFile>true</PublishSingleFile>
    <UseAppHost>true</UseAppHost>

    <!-- Nhúng thư viện native vào bundle -->
    <IncludeNativeLibrariesForSelfExtract>true</IncludeNativeLibrariesForSelfExtract>

    <!-- Phải tắt với cấu hình hiện tại để tránh NETSDK1176 -->
    <EnableCompressionInSingleFile>false</EnableCompressionInSingleFile>

    <!-- Không dùng ReadyToRun vì làm tăng kích thước -->
    <PublishReadyToRun>false</PublishReadyToRun>

    <!-- Không trim ứng dụng WPF -->
    <PublishTrimmed>false</PublishTrimmed>

    <!-- Không tạo file debug -->
    <DebugType>None</DebugType>
    <DebugSymbols>false</DebugSymbols>

    <!-- Xóa kết quả Publish cũ trước khi tạo mới -->
    <DeleteExistingFiles>true</DeleteExistingFiles>

    <!-- Thư mục kết quả -->
    <PublishDir>
      bin\Release\net8.0-windows\win-x86\publish\
    </PublishDir>

  </PropertyGroup>

</Project>